.comm{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.comm form{
    height: auto;
    width: 100%;
}

.comm form textarea{
    width: 80%;
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 10px;
}

.commHeader{
    width: 100%;
    height: auto;
}

.commHeader h3{
    margin-top: 5px;
    margin-bottom: 0;
}

.commHeader p{
    margin: 0;
    font-size: 0.7rem;
}


.action{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.action button{
    padding: 0.5rem 2rem;
}