@font-face {
    font-family: "flowers";
    src: url("../assets/Fonts/SpringtimeFlowersRegular-8M1mz.otf");
}

.header{
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.header nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem;
    justify-content: space-between;
}

.header nav h2{
    font-family: "flowers";
    cursor: pointer;
    font-size: 3.5rem;
}

.header nav ul{
    width: 50%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul.logged{
    width: 15%;
    justify-content: flex-end;
}

.header button{
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
}


@media screen and (min-width: 768px){
    .header nav ul{
        width: 25%;
    }
}