*{
    box-sizing: border-box;
}

.wrapper{
    min-height: 100vh;
    width: 100%;
    padding: 0rem 2rem;
}

.text{
    width: 100%;
}

.header{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin-top: 15vh;
}

.header .danger{
    position: absolute;
    right: 80px;
    top: 30px;
    width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .danger.pub{
    justify-content: flex-end;
}

.header h1{
    margin-bottom: 0;
    font-size: 2rem;
}

.header p{
    margin: 5px 0;
    margin-left: 1rem;   
}

.header p:nth-of-type(2), .comm p{
    margin-top: 0;
}

.body{
    color: #f8f8f8;
    padding: 0.5rem 1rem;
    background: #9b9a9a;
    border-radius: 15px;
    margin-top: 35vh;
    position: relative;
    transition: all 0.8s ease;
}

.body form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    transition: all 0.8s ease;
    /* flex-direction: column; */
}

.body form textarea{
    height: auto;
    width: 80%;
    padding: 1rem;
    border-radius: 20px;
}

.body .action{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.body .action button{
    padding: 0.3rem 1rem;
    margin-bottom: 0.5rem;
}

.edit{
    position: absolute;
    bottom: -30px;
    z-index: 10;
    right: 10px;
    color: black;
    cursor: pointer;
}

.body p{
    text-align: justify;
}

.add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newCom{
    height: auto;
    position: absolute;
    width: 50vw;
    padding: 1rem;
    border-radius: 15px;
    transition: all 1s ease-in-out;
    transform: translate(-100vw);
    box-shadow: 0px 5px 10px rgba(0, 0, 0 , 0.3);
}

.open{
    position: static;
    transform: translate(0);
    /* animation: open 1s ease forwards; */
}


.newCom form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


.inputBox{
    position: relative;
    width: 100%;
    height: auto;
}

.newCom form textarea{
    text-indent: 10px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    transition: all 0.8s ease;
}


.newCom form textarea:focus{
    color: #333;
    background: #f3f3f3;
}

.newCom form button{
    padding: 0.5rem 3rem;
}

.error{
    position: absolute;
    bottom: 0px;
    font-size: 0.7rem;
    left: 15px;
}


.error.second{
    left: 50px;
}

.comments{
    position: relative;
    text-align: left;
    margin-top: 2rem;
}

.comms{
    height: auto;
    width: 100%;
    display: grid;
    padding: 1rem 0;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}


@media screen and (min-width: 768px){
    .header .danger{
        width: 15%;
    }

    .comms{
        grid-template-columns: repeat(4, 1fr);
    }
}