@font-face {
    font-family: "ketta";
    src: url("../assets/Fonts/HelloKetta-d99oX.ttf");
}

@font-face {
    font-family: "kool";
    src: url("../assets/Fonts/Koolegant-K7my7.ttf");
}

*{
    box-sizing: border-box;
}

.wrapper{
    min-height: 100vh;
    width: 100%;
    font-weight: bolder;
    font-family: "ketta";
    /* overflow: hidden; */
}

.hero{
    margin-top: 15vh;
    width: 100%;
    height: 55vh;
    position: relative;
}

.pfp{
    position: absolute;
    left: 50%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid;
    transform: translate(-50%, -50%);
}

.pfp img{
    height: 100%;
    width: 100%;
}

.back, .deets{
    height: 50%;
    width: 100%;
}

.back{
    border: 2px solid;
    border-radius: 25px;
    backdrop-filter: blur(15px);
}

.back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: grayscale(100%);
    transition: all 1s ease;
}

.back img:hover{
    filter: grayscale(0%);
}

.deets{
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    overflow-y: scroll;
    scrollbar-width: none;
    /* border-radius: 20px;*/
}

.deets > *{
    margin: 0;
    margin-left: -25px;
}

.deets h2{
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.deets p{
    font-size: 1rem;
    font-family: "kool";
}

.posts{
    width: 100%;
}

.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.3rem;
    border: 0.1px solid;
}

.top button{
    background: hsl(0, 0%, 95%);
    color: black;
    border: none;
    border-radius: 0px;
    transition: all 0.8s ease;
}

.top button:hover{
    border-radius: 0px;
    border-bottom: 3px solid;
}

.top button:focus,
.top button:focus-visible{
    outline: none;
}


.tabs {
    height: 70vh; 
    width: 100%;
    font-size: 1.5rem;
    overflow-y: hidden; 
    position: relative; 
}

.tabContent {
    height: 100%; 
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
    overflow-y: auto; 
    scrollbar-width: thin; 
    background: #f3f3f3;
    display: none;
}

.activate {
    display: block; 
}

.tabContent h2{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.tabContent p{
    font-size: 1rem;
}



